.gradle
.idea
build
*.iml
bin
.classpath
.settings
.project
target
out
.springBeans
*.rdb
!eclipse/.checkstyle
.checkstyle
spring-session/gemfire-client-server-tests-*/
spring-session/gemfire-multipool-client-server-tests-*/