---
# The name of your project
title: Spring Session

badges:

  # Specify your project's twitter handle, if any. Delete if none.
  #twitter: SpringData

  # Customize your project's badges. Delete any entries that do not apply.
  custom:
    - name: Source (GitHub)
      url:  https://github.com/spring-projects/spring-session
      icon: github

    - name: Issues (GitHub)
      url:  https://github.com/spring-projects/spring-session/issues
      icon: tracking

    - name: CI (Travis CI)
      url:  https://travis-ci.org/spring-projects/spring-session
      icon: ci

    - name: StackOverflow
      url:  https://stackoverflow.com/questions/tagged/spring-session
      icon: stackoverflow

    - name: Metrics (SonarQube)
      url:  https://sonar.spring.io/dashboard?id=org.springframework.session%3Aspring-session-build
      icon: metrics

---
<!DOCTYPE HTML>
<html lang="en-US">


{% capture billboard_description %}

Spring Session provides an API and implementations for managing a user’s session information.

{% endcapture %}

{% capture main_content %}

Spring Session provides an API and implementations for managing a user’s session information.

## Features

Spring Session makes it trivial to support clustered sessions without being tied to an application container specific solution. It also provides transparent integration with:

* **HttpSession** - allows replacing the `HttpSession` in an application container (i.e. Tomcat) neutral way, with support for providing session IDs in headers to work with RESTful APIs
* **WebSocket** - provides the ability to keep the `HttpSession` alive when receiving WebSocket messages
* **WebSession** - allows replacing the Spring WebFlux’s `WebSession` in an application container neutral way

## Modules

Spring Session consists of the following modules:

* **Spring Session Core** - provides core Spring Session functionalities and APIs
* **Spring Session Data Redis** - provides `SessionRepository` and `ReactiveSessionRepository` implementation backed by Redis and configuration support
* **Spring Session JDBC** - provides `SessionRepository` implementation backed by a relational database and configuration support
* **Spring Session Hazelcast** - provides `SessionRepository` implementation backed by Hazelcast and configuration support

<span id="quick-start"></span>
## Quick Start

Refer to the [Samples](http://docs.spring.io/spring-session/docs/current/reference/html5/#samples) and their corresponding guides for a quickstart.

{% include download_widget.md %}

{% endcapture %}

{% capture related_resources %}

## Guides

* [HttpSession & Redis](https://docs.spring.io/spring-session/docs/current/reference/html5/guides/java-redis.html)
* [Spring Boot Integration](https://docs.spring.io/spring-session/docs/current/reference/html5/guides/boot-redis.html)
* [Spring Security Integration](https://docs.spring.io/spring-session/docs/current/reference/html5/guides/java-security.html)
* [RESTful APIs](https://docs.spring.io/spring-session/docs/current/reference/html5/guides/java-rest.html)
* [WebSocket Integration](https://docs.spring.io/spring-session/docs/current/reference/html5/guides/boot-websocket.html)

{% endcapture %}


{% include project_page.html %}
</html>
